{:linters {:unresolved-symbol {:level :warning
                                      :exclude [(clojure.test/deftest)
                                               (clojure.test/testing)
                                               (clojure.test/is)]}
           :unused-namespace {:level :warning}
           :unused-binding {:level :warning}
           :unused-private-var {:level :warning}
           :misplaced-docstring {:level :warning}
           :type-mismatch {:level :warning}}
 
 :skip-comments true
 
 :lint-as {clojure.test/deftest clojure.core/def}
 
 :output {:pattern "{{level}}: {{filename}}:{{row}}:{{col}}: {{message}}"}}
